# root
/*
!.gitignore
!README.md
# 每月一题
!/每月一题
/每月一题/*
!*.cpp
# 实验
!/实验
/实验/*/*
!*.cpp
# 真题
!/真题
/真题/*
!*.cpp
!*.py
# 作业
!/作业
/作业/*/*
!*.cpp
# test
!/test
/test/*
!*.cpp
# 模测
!/模测
/模测/*
!*.cpp
# 数据结构
!/数据结构
/数据结构/*
!*.cpp
# 复习
!/复习
/复习/*
!*.cpp
# 刷题
!/刷题
/刷题/*
!*.cpp